.tk-hr {
  border-width: 5px;
  margin-left: 0;
  margin-top: -1%;
  width: 15%; }

body {
  width: 80%;
  margin: auto; }

#careers h1, #rewards h1 {
  font-family: Helvetica;
  font-size: 4rem;
  font-weight: 100; }

#logo {
  font-size: 6rem;
  -webkit-text-stroke: 1px #646464; }

.bg-gray {
  background-color: #424242; }

#locations {
  font-size: 0.8rem; }
  #locations button {
    font-size: 0.8rem; }

#hero {
  background-image: url(../img/promo/nick-karvounis-72018.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica;
  font-weight: 100;
  padding-top: 20%;
  padding-bottom: 25%; }
  #hero h1 {
    font-size: 50px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 75%;
    mix-blend-mode: difference; }

#menu .card p {
  font-size: 0.9rem; }

.row.equal-height > [class*='col-'] {
  display: flex; }

@media only screen and (max-width: 1120px) {
  body {
    width: 100%; } }

@media only screen and (min-width: 1200px) {
  .row-override {
    margin-left: -5px;
    margin-right: -5px; } }
