.tk-hr{
    border-width: 5px;
    margin-left: 0;
    margin-top: -1%;
    width: 15%;
}

body {
    width: 80%;
    margin:auto;
}

#careers, #rewards {
    h1{
        font: {
            family: Helvetica;
            size: 4rem;
            weight: 100;
        }
    }
    
}
#logo{
    font-size: 6rem;
    -webkit-text-stroke: 1px rgb(100, 100, 100);
}

.bg-gray{
    background-color: rgb(66, 66, 66);
}

#locations {
    font-size: 0.8rem;
    button {
        font-size: 0.8rem;
    }
}
#hero{
    background-image: url(../img/promo/nick-karvounis-72018.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica;
    font-weight: 100;
    padding-top: 20%;
    padding-bottom: 25%;
    h1{
        font-size: 50px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        width: 75%;
        mix-blend-mode: difference;
    }

}

@media only screen and (max-width: 1120px) {
    body{
        width: 100%;
    }
}