.tk-hr{
    border-width: 5px;
    margin-left: 0;
    margin-top: -1%;
    width: 15%;
}

body {
    width: 80%;
    margin:auto;
}

#careers, #rewards {
    h1{
        font: {
            family: Helvetica;
            size: 4rem;
            weight: 100;
        }
    }
    
}
#logo{
    font-size: 6rem;
    -webkit-text-stroke: 1px rgb(100, 100, 100);
}

.bg-gray{
    background-color: rgb(66, 66, 66);
}

#locations {
    font-size: 0.8rem;
    button {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1120px) {
    body{
        width: 100%;
    }
}